# 配置 cppjieba 子模块
[submodule "third_party/cppjieba"]
    url = https://github.com/yanyiwu/cppjieba.git
    path = third_party/cppjieba
    recursive = true

# 配置 utf8cpp 子模块
[submodule "third_party/utfcpp"]
    url = https://github.com/nemtrif/utfcpp.git
    path = third_party/utfcpp

# 配置 CTRE 子模块
[submodule "third_party/compile-time-regular-expressions"]
	path = third_party/compile-time-regular-expressions
	url = https://github.com/hanickadot/compile-time-regular-expressions.git

[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/mimalloc"]
	path = third_party/mimalloc
	url = https://github.com/microsoft/mimalloc.git
