# 编译输出目录
build/
bin/
lib/

# IDE 配置文件
.vscode/
.idea/
*.swp

# C++ 编译中间产物
*.exe
*.out
*.app
*.o
*.obj
*.dll
*.so
*.dylib

# latex 生成文件
*.aux
*.log
*.toc
*.out

# Python 虚拟环境
.venv/
__pycache__/
*.py[cod]

# CMake 自动生成的文件
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake